div .big {
  padding: 3rem;
}
.collage {
  height: 40vh;
  background-color: rgb(63, 238, 180);
}

.phrase {
  height: 10vh;
  background-color: rgb(243, 243, 207);
}

.photos {
  background-color: rgb(245, 200, 145);
}

div .pad {
  padding-left: 0;
  padding-right: 0;
}

/* Login**/
body{
  background: linear-gradient(#78B176, #C87A59);
}

.grad {
  height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
}

.white {
  color: white;
}

.opacity {
  background: rgba(255, 255, 255, 0.2);
}

input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
}

input::placeholder{
  color: rgba(255, 255, 255, 0.6);
}

.btn-signin {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border-radius: 5px;
}

.btn-signin:disabled{
  color: rgba(255, 255, 255, 0.6);
  cursor: not-allowed;
}

.size {
  font-size: 1.5em;
  margin-right: .4em;
  position: relative;
  top: 4px;
}

.help {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

.btn-face {
  background-color: transparent;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.size-o {
  font-size: 16px;
  position: relative;
  top: 5px;
  margin: 0 10px;
}

.box-input {
  margin: 0 2em;
}

.optionFooter {
  height: 10vh;
  padding-top: 1em;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  
  color: rgba(255, 255, 255, 0.6);
}

.language {
  height: 14vh;
}

.transparent {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.6);
}

.center-login {
  height: 76vh;
}

.weight {
  font-weight: 600;
}

.line:after,
.line:before {
  content: '';
  width: 40%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
}

.h100{
  height: 100vh;
  text-align: center;
  padding: 12em 0;
}



@media (min-width: 720px) {
  .pad {
    padding-left: 0;
    padding-right: 0;
  }

  .optionFooter{
    background: transparent;

  }
}

.photos-box {
  display: inline-block;
}

.cont-photo img {
  border-radius: 5px;
  height: 10rem;
}


.cont-photo {
  padding: 0.3rem;
}

.detect {
  background: #ddd;
  border: 4px dashed #868383f3 !important;
}

.collage {
  border: 1px solid black;
  height: 40vh;
}

.img-size {
  width: 100%;
  height: 100%;

}