.collage {
  height: 40vh;
  background-color: rgb(63, 238, 180);
}

.phrase {
  height: 10vh;
  background-color: rgb(243, 243, 207);
}

.photos {
  background-color: rgb(245, 200, 145);
}

.pad {
  padding-left: auto;
  padding-right: auto;
}

@media (min-width: 720px) {
  .pad {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.photos-box {
  display: inline-block;
}

.cont-photo img {
  border-radius: 5px;
  height: 10rem;
}


.cont-photo {
  padding: 0.3rem;
}

.detect {
  background: #ddd;
  border: 4px dashed #868383f3 !important;
}

.collage {
  border: 1px solid black;
  height: 40vh;
}