<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/icons/icomoon/style.css">
  <link rel="stylesheet" href="../css/fonts.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
  
</head>
<body class="dark-b">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand font text-center" href="#"><span class="icon-instagram px-2"></span>Instagram</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
            <a class="nav-link" href="../index.html" id=""><span class="fas fa-sign-out-alt"></span> Log Out</a>
          </li>
      </ul>
    </div>
  </nav>
  <div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link white" href="#" id="photos-col-3">3 <span class="fa fa-images"></span> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link white" href="#" id="photos-col-4">4 <span class="fa fa-images"></span>
          </a>
        </li>
       
    </ul>
  </div>
  <div class="container-fluid big" id="option-3">
    <div class="row border-white " id="parent">
      <div class="col-6 pad collage" id="photo1">
      </div>
      <div class="col-6 pad collage border-white" >
        
          <div class=" w50 border-white img-js" id="photo2"></div>
          <div class="w50 border-white img-js" id="photo3"></div>
        
      </div>
      
    </div>
  </div>

  <div class="container-fluid big hide" id="option-4">
      <div class="row border-white" id="parent">
        <div class="col-6 pad collage" id="photo1">
        </div>
        <div class="col-6 pad collage border-white" >
          
            <div class=" w50 border-white" id="photo2"></div>
            <div class="w50 border-white" id="photo3"></div>
          
        </div>
        <div class="col-12 pad collage-new border-white" id="photo4">

        </div>
        
      </div>
    </div>
  <div class="container-fluid phrase text-center pt-3">
    
          <p class="dark-blue"><span class="icon-instagram px-2"></span>PHOTO BOOTH</p>
        
  </div>
  <div class="photos">
      <div class="pad photos-box d-flex flex-wrap">

      </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/app.js"></script>
</body>

</html>